.custom-banner {
  background: linear-gradient(to right, #2c536499, #203a4399, #0f202799),
    url("/src/Assets/Images/confirmed.jpg") center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
